body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #681d27;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #77572d;
    color: #000000;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 100px 20px;
    margin-top: 60px;
    max-width: 1200px;  
    margin: 60px auto;  
    border: #ffffff;
}

#accueil,
#competences,
#realisations,
#formation,
#contact {
    color: #000000;
    background-color: #77572d;
    border: #000000;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
}
